<div class="container">
  <div class="row">

    <!-- Here Form Used -->
    <div class="col-6 text-center">    
      <form #userForm="ngForm" (ngSubmit)="onAdd(userForm.value)">
        <div style="border: 4px solid black; width: 300px; padding: 30px;">
        <h1 style="color: burlywood;">Add Product</h1>
        <div class="form-group">
          <input type="text" placeholder="fname" class="form-control" name="fname" ngModel  required  #name="ngModel">
          <small style="color: brown;" *ngIf="!name.valid && name.touched">enter the name</small><br><br>

          <input type="text" placeholder="lname" class="form-control" name="lname" ngModel required #lname="ngModel">
          <small style="color: brown;" *ngIf="!lname.valid && lname.touched">enter the name</small><br><br>
          <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">{{editMode? 'update' : 'Add'}}</button>
          <!-- <button type="button" class="btn btn-success" (click)="save()" style="margin-left: 5px;">Save</button>-->
          <!-- <button type="submit" class="btn btn-success"  style="margin-left: 5px;">Fetch</button>  -->
        </div>
        </div>
      </form>
    </div>
    

    <!-- Here Table Used -->
    <div class="col-6">
      <table class="table" style="border: 2px solid black; width: 600px;">
        <thead>
          <tr style="background-color: cyan;">
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>            
          </tr>
      </thead>
          <tbody>
            <tr style="border: aquamarine; border: 2px solid black;" *ngFor="let data of adds; index as i">  
             <th scope="row">{{i+1}}</th>
              <td>{{data.fname}}</td>
              <td>{{data.lname}}</td>
              <td (click)="onDel(data.userId)"><a class="btn btn-success">delete</a></td>
              <td (click)="onEdit(data.userId, i)"><a class="btn btn-success">Edit</a></td> 
            </tr>            
         </tbody>
      </table>
    </div>    
  </div>
</div>