
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg" style="background-color: darkkhaki;">
                <div class="container-fluid">
                  <h3 class="navbar-brand">User Data</h3>
                  <div>        
                      <button class="btn btn-success" type="submit" (click)="onAdd()">Add User</button>   
                  </div>
                </div>
              </nav> 
            <table class="table" style="border: 2px solid black;">
                <thead>
                  <tr style="background-color: cyan;">
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Edit</th>            
                  </tr>
              </thead>
                  <tbody>
                     <tr style="border: aquamarine; border: 2px solid black;" *ngFor="let data of adds; index as i">  
                     <th scope="row">{{i+1}}</th>
                      <td>{{data.fname}}</td>
                      <td>{{data.lname}}</td>
                      <td (click)="onDel(data.userId)"><a class="btn btn-success">delete</a></td>
                      <td (click)="onEdit(data.userId, i)"><a class="btn btn-success">Edit</a></td> 
                    </tr>             
                 </tbody>
              </table>
        </div>
    </div>
</div>

   